@font-face {
    font-family: "Confetti";
    src: url('./../fonts/Confetti\ Stream.ttf');
  }
  .jumbotron {
    background-color: lightgrey;
    padding: 10px;
    margin-top: 50px;
  }
  body {
    background-image: url('https://st2.depositphotos.com/2065849/8816/i/950/depositphotos_88161222-stock-photo-whitewashed-brick-city-wall-for.jpg');
  }
  .goog {
    background-image: url('https://st2.depositphotos.com/2065849/8816/i/950/depositphotos_88161222-stock-photo-whitewashed-brick-city-wall-for.jpg');
    padding-left: 100px;
  }
  h1 {
    font-family: "Confetti", cursive, sans-serif;
    font-size: 150px;
    color: aquamarine;
    text-shadow: 1px 1px 0 #000,
      -1px 1px 0 #000,
      1px -1px 0 #000,
      -1px -1px 0 #000,
      0px 1px 0 #000,
      0px -1px 0 #000,
      -1px 0px 0 #000,
      1px 0px 0 #000,
      2px 2px 0 #000,
      -2px 2px 0 #000,
      2px -2px 0 #000,
      -2px -2px 0 #000,
      0px 2px 0 #000,
      0px -2px 0 #000,
      -2px 0px 0 #000,
      2px 0px 0 #000,
      1px 2px 0 #000,
      -1px 2px 0 #000,
      1px -2px 0 #000,
      -1px -2px 0 #000,
      2px 1px 0 #000,
      -2px 1px 0 #000,
      2px -1px 0 #000,
      -2px -1px 0 #000;
  }
  h2 {
    font-size: 50px;
    font-family: "Confetti";
    color: aquamarine;
    text-shadow: 1px 1px 0 #000,
      -1px 1px 0 #000,
      1px -1px 0 #000,
      -1px -1px 0 #000,
      0px 1px 0 #000,
      0px -1px 0 #000,
      -1px 0px 0 #000,
      1px 0px 0 #000,
      2px 2px 0 #000,
      -2px 2px 0 #000,
      2px -2px 0 #000,
      -2px -2px 0 #000,
      0px 2px 0 #000,
      0px -2px 0 #000,
      -2px 0px 0 #000,
      2px 0px 0 #000,
      1px 2px 0 #000,
      -1px 2px 0 #000,
      1px -2px 0 #000,
      -1px -2px 0 #000,
      2px 1px 0 #000,
      -2px 1px 0 #000,
      2px -1px 0 #000,
      -2px -1px 0 #000;
  }
  .card-body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: lightgrey;
    font-size: 26px;
    text-shadow: 1px 1px 0 #000,
      -1px 1px 0 #000,
      1px -1px 0 #000,
      -1px -1px 0 #000,
      0px 1px 0 #000,
      0px -1px 0 #000,
      -1px 0px 0 #000,
      1px 0px 0 #000,
      2px 2px 0 #000,
      -2px 2px 0 #000,
      2px -2px 0 #000,
      -2px -2px 0 #000,
      0px 2px 0 #000,
      0px -2px 0 #000,
      -2px 0px 0 #000,
      2px 0px 0 #000,
      1px 2px 0 #000,
      -1px 2px 0 #000,
      1px -2px 0 #000,
      -1px -2px 0 #000,
      2px 1px 0 #000,
      -2px 1px 0 #000,
      2px -1px 0 #000,
      -2px -1px 0 #000;
  }
  
#map {
    height: 850px;
    width: 92%;
    margin-left: 60px;
    margin-top: 20px;
  }

#title {
    margin-left: 530px;
  }
#title2 {
  margin-left: 100px;
}

#title3 {
  margin-right: 200px;
  align-content: center;
}

#foot {
  margin-left: 500px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.container {
  align-content: center;
  margin-left: 200px;
}

#ft {
  margin-top: 150px;
  font-family: cursive;
  color: aquamarine;
  text-shadow: 1px 1px 0 #000,
      -1px 1px 0 #000,
      1px -1px 0 #000,
      -1px -1px 0 #000,
      0px 1px 0 #000,
      0px -1px 0 #000,
      -1px 0px 0 #000,
      1px 0px 0 #000,
      2px 2px 0 #000,
      -2px 2px 0 #000,
      2px -2px 0 #000,
      -2px -2px 0 #000,
      0px 2px 0 #000,
      0px -2px 0 #000,
      -2px 0px 0 #000,
      2px 0px 0 #000,
      1px 2px 0 #000,
      -1px 2px 0 #000,
      1px -2px 0 #000,
      -1px -2px 0 #000,
      2px 1px 0 #000,
      -2px 1px 0 #000,
      2px -1px 0 #000,
      -2px -1px 0 #000;
  font-size: 30px;
  margin-left: 500px;
}
