.jumbotron {
    font-family: Arial, Helvetica, sans-serif;
    
  }  
   
  .container {
    width: auto;
    background-color: rgb(231, 123, 21);
    color: black;
    border: 5px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
  }
  .col-md-12 {
    padding: 5px;
    
  }
  .fields {
    background-color: black;
    color: whitesmoke;
    width: 25%;
    margin: auto;
  }
  h1 {
    font-weight: bold;
  }
  h3 {
    font-weight: bold;
  }
  .info {
    font-size: 24px;
  }